body {
  box-sizing: border-box;
}

/* NAVBAR */

#nav {
  position: fixed;
  right: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid hsl(0, 0%, 96%);
  -webkit-transform: translate3d(0, 0, 500px);
  transform: translate3d(0, 0, 500px);
}

.navbar-logo {
  padding: 0px;
  width: 240px;
  height:53px;
}

.navbar-brand {
  margin-left: 40px;
  margin-right: 20px;
}

.navbar-item {
  margin-right: 8px;
  font-size: 1.05rem;
}

.navbar-item:hover {
  color: #8383b6 !important;
}

.navbar-end {
  margin-right: 45px;
}

#searchbox {
  margin-bottom: 0px;
}

#searchform {
  margin-top: .5px;
}

#navbar-logo-link {
  display: flex !important;
  align-items: center !important;
}


/* LEFT COLUMN */

.col-1-div {
  padding-left: 5%;
  padding-right: 5%;
}

/* index etc */
.left-col-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.05rem;
}
/* favorites and trainer */
.left-column-header {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidebar-image {
  width: 75px;
}

.sidebar-image:hover {
  transform: scale(1.1);
}

.fav-trainer-side-image {
  width: 125px;
}

#repertoir-text {
  margin-bottom: 10px;
}

.trainer-favorites-button-container {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 30px;
}

.explanation-container {
  margin: 0px 20px 50px 20px;
}

#trainer-text-link {
  color: #7878a7
}

#trainer-text-link:hover {
  color: #8383b6
}

#categories-text-link {
  color: #7878a7
}

#categories-text-link:hover {
  color: #8383b6
}

.login-buttons-left-column {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 18px !important;
}

.left-auth-button {
  /* font-weight: bold; */
  width: 80px;
  border-radius: 3px !important;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #8383b6 !important;
  color: white !important;
}

.left-auth-button:hover {
  background-color: #7878a7 !important;
  color: white !important;
}

@media only screen and (max-width: 800px) {

  .left-col-text {
    margin: 0;
    font-size: 0;
  }
  .left-column-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sidebar-image {
    width: 40px;
  }
  .fav-trainer-side-image {
    width: 60px;
    margin-bottom: 10px;
  }
  #repertoir-text {
    margin-bottom: 0px;
  }
  #left-trainer-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .trainer-favorites-button-container {
    margin-top: 20px;
  }
  .index-left-contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -30px;
    margin-top: -22px;
  }
  .explanation-container {
    margin-bottom: 20px;
  }
  #activities-header {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 450px) {

  #activities-header {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .left-auth-button {
    margin-top: 0;
    margin-left: 7px;
    margin-right: 7px;
  }
}





/* CENTER COLUMN */

.col-2-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 80px;
  padding-left: 1%;
  padding-right: 1%;
}

.center-header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 30px;
}

#random-joke-header-container {
  margin-bottom: 20px;
}

#random-joke-header {
  font-size: 20px;
}

.main-header {
  font-size: 32px;
}

.secondary-header {
  font-size: 26px !important;
}

.secondary-header-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-save-header-container {
  margin-top: 0px;
  margin-bottom: 20px;
}

.main-text {
  font-size: 24px;
}

@media only screen and (max-width: 800px) {
  #random-joke-header-container {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .about-text-container {
    margin-bottom: 34px;
  }
}

@media only screen and (max-width: 450px) {

  #random-joke-header {
    font-size: 0px;
  }
  #random-joke-header-container {
    margin: 0px;
  }
  .main-header {
    font-size: 26px !important;
  }
  .secondary-header {
    font-size: 21px !important;
  }
  .main-text {
    font-size: 16px;
  }
  .center-header-container {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .about-save-header-container {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .about-text-container {
    margin-bottom: 10px;
  }
  .category-header-container {
    margin-top: 20px;
    margin-bottom: 35px;
  }
}





/* RIGHT COLUMN */

.categories-header {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 40px;
  margin-bottom: 30px;
}

.my-jokes-link-container {
  margin-bottom: 10px;
}

.categories-list li {
  margin-bottom: 10px;
}

.category {
  color: hsl(0, 0%, 21%);
}

.about-subheader {
  color: hsl(0, 0%, 21%);
}

.about-subheader:hover {
  color: gray;
}

.category:hover {
  /* color: gray; */
  color: #8383b6;
}

.col-3-div {
  text-align: center;
}


/* ABOUT SECTION */

.about-div-main {
  margin-left: 5%;
  margin-right: 5%;
}

.about-button-large {
  background-color: #8383b6 !important;
  color: white !important;
}

.about-button-large:hover {
  background-color: #7878a7 !important;
  color: white !important;
}

/* AUTHENTICATION */

.auth-header {
  margin: 18px;
  padding: 10px;
  text-align: center;
}

.auth-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

.form-container {
  padding-left: 5%;
  padding-right: 5%;
}

.login-container {
  padding-left: 3%;
  padding-right: 3%;
}

.input {
  margin-bottom: 10px;
}

/* FLIP CARDS */

.card-text {
  font-weight: bold;
  text-align: center;
}

.flip3D {
  height: 240px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-right: 0px;
}

.flip3D > .front {
  position: absolute;
  transform: perspective(900px) rotateY(0deg);
  -webkit-transform: perspective(900px) rotateY(0deg);
  background: lavender;
  width: 400px;
  height: 240px;
  border-radius: 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .4s linear 0s;
  transition: transform .4s linear 0s;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.flip3D > .back {
  position: absolute;
  transform: perspective(900px) rotateY(180deg);
  -webkit-transform: perspective(900px) rotateY(180deg);
  background: lavender;
  width: 400px;
  height: 240px;
  border-radius: 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .4s linear 0s;
  transition: transform .4s linear 0s;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) {
  .flip3D > .front {
    width: 300px;
    height: 180px;
  }
  .flip3D > .back {
    width: 300px;
    height: 180px;
  }
}

@media only screen and (max-width: 450px) {

  .categories-header {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .flip3D {
    margin-top: 25px;
  }

}

.flipit > .front {
  -webkit-transform: perspective(900px) rotateY(-180deg);
  transform: perspective(900px) rotateY(-180deg);
}

.flipit > .back {
  -webkit-transform: perspective(900px) rotateY(0deg);
  transform: perspective(900px) rotateY(0deg);
}

.front {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid darkgray;
}

.back {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid darkgray;
}

.favorites-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#add-button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 110px;
  margin-top: 1px;
  background-color: #8383b6 !important;
}

#add-button:hover {
  background-color: #7878a7 !important;
}

.triple-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

#edit-button {
  width: 64px;
  border-radius: 7px;
  margin-top: 5px;
  background-color: rgb(255, 183, 0);
  /* background-color: gold; */
  color: white;
}

#edit-button:hover {
  background-color: rgb(233, 167, 0);
}

#delete-button {
  width: 64px;
  border-radius: 7px;
  margin-top: 5px;
  background-color: hsl(348, 86%, 59%) !important;
  color: white;
}

#delete-button:hover {
  background-color: hsl(348, 65%, 52%) !important;
  color: white;
}

.delete-button-modal {
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  
  .modal-card {
    max-width: 90%;
  }

}

@media only screen and (max-width: 450px) {

  .modal-card-title {
    font-size: 0.7rem !important;
  }

}

.flip-button {
  width: 110px;
  margin-bottom: 1px;
}

.flip-button-paired {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 7px !important;
  border-top-left-radius: 7px !important;
}

.flip-button-solo {
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  border-top-right-radius: 7px !important;
  border-top-left-radius: 7px !important;
}

#remove-button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 110px;
  margin-top: 1px;
  background-color: #8383b6;
}

#remove-button:hover {
  background-color: rgb(241, 205, 0);
  color: black;
}

.card-buttons-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

@media only screen and (max-width: 800px) {
  .card-buttons-container {
    margin-top: -30px;
  }
}

.pagination-container {
  margin-bottom: 30px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.first {
  margin-right: 5px;
}

.previous {
  margin-left: 5px;
}

.next {
  margin-right: 5px
}

.last {
  margin-left: 5px;
}

.current {
  margin-left: 10px;
  margin-right: 10px;
}

/* ---- */

@media only screen and (min-width: 800px) {

  .column1 {
    min-height: calc(100vh - 70px);
  }

  .column2 {
    min-height: calc(100vh - 70px);
  }

  .column3 {
    min-height: calc(100vh - 70px);
  }

}

.login-form-button {
  background-color: #8383b6 !important;
  color: white !important;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.login-form-button:hover {
  background-color: #7878a7 !important;
  color: white !important;
}

.login-alert {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.registration-form-button {
  background-color: #8383b6 !important;
  color: white !important;
}

.registration-form-button:hover {
  background-color: #7878a7 !important;
  color: white !important;
}

.new-joke-button {
  background-color: #8383b6 !important;
  color: white !important;
}

.new-joke-button:hover {
  background-color: #7878a7 !important;
  color: white !important;
}

.register-button-login {
  margin-top: -5px;
}