{% extends 'index.html' %}

{%block indexcenter%}

<div class="about-div-main">
  <div class="center-header-container">
    <h1 class="has-text-centered has-text-weight-semibold main-header">Cruise the Jokes</h1>
  </div>
  <div class="about-text-container">
    <h2 class="has-text-centered main-text about-text-container">Joke Trainer has loads of jokes for you to enjoy. Each joke card shows only the setup on the front so you can test your wit before you see the punchline. To get started, <strong>pick a category</strong> or <strong>make a search!</strong></h2>
  </div>
</div>

<div class="login-buttons-left-column is-hidden-desktop">
  {% if user.is_authenticated %}
  {% else %}
    <a class="button is-primary is-hidden-tablet left-auth-button" href="{% url 'jt:register' %}">Sign up</a>
    <a class="button is-primary log-button is-hidden-tablet left-auth-button" href="{% url 'jt:login' %}">Log in</a>
  {% endif %}
</div>

{% endblock %}