{% extends 'index.html' %}

{%block indexcenter%}

<div class="about-div-main">
  <div class="center-header-container">
    <h1 class="is-size-3 has-text-centered has-text-weight-semibold">Build Your Repertoire With Joke Trainer</h1>
  </div>
  <h2 class="is-size-4 has-text-centered">The Joke Trainer page is where the site goes from funny to functional. You'll see all your favorite jokes, but this time with only a hint on the front and the whole joke on the back. You can use these flashcards to help you memorize the jokes and become a full blown entertainer!</h2>
</div>
  
{% endblock %}