{% extends 'index.html' %}

{%block indexcenter%}

<div class="about-div-main">
  <div class="center-header-container">
    <h1 class="has-text-centered has-text-weight-semibold main-header">Save Your Favorite Jokes</h1>
  </div>
  <div class="about-text-container">
    <h2 class="has-text-centered main-text">If there's a joke you find hilarious and want to remember for later, you can add it to <strong>your own collection of favorite jokes</strong>. Once you're signed in, just press the blue button below any joke to save!</h2>
  </div>
</div>

<div class="trainer-favorites-button-container is-hidden-mobile">
  <a href="{% url 'jt:favorites' %}"><button class="button is-dark is-large" id="go-to-trainer-button">Go to Favorites</button></a>
</div>
  
  {% endblock %}