{% extends 'index.html' %}

{%block indexcenter%}

<div class="about-div-main">
<h1 class="is-size-3 has-text-centered">ABOUT JOKE TRAINER</h1>
<br />
<h2 class="is-size-4 has-text-centered">Explore the Jokes</h2>
<br />
<p class="is-size-6">Joke Trainer has loads of jokes for you to enjoy. Each joke diplays the setup only so that you can test your wit before you see the answer.</p>
<br />
<h2 class="is-size-4 has-text-centered">Add to Your Favorite Jokes</h2>
<br />
<p class="is-size-6">If there's a joke you find extra hilarious and want to remember for later, you can add it to your own collection of favorite jokes</p>
<br />
<h2 class="is-size-4 has-text-centered">Train Your Brain</h2>
<br />
<p class="is-size-6">The Joke Trainer page gives you the same jokes, but with only a hint on the front and the joke on the back. You can use these flashcards to help memorize the jokes and become a full blown entertainer.</p>
<br />
</div>

{% endblock %}