{% extends 'index.html' %}

{%block indexcenter%}

<div class="about-div-main">
  <div class="center-header-container">
    <h1 class="is-size-3 has-text-centered has-text-weight-semibold">About Joke Trainer</h1>
  </div>
  <h2 class="is-size-4 has-text-centered about-subheader"><a class="about-subheader" href="{% url 'jt:random_joke' %}">Cruise the Jokes</h2></a>
  <br />
  <p class="is-size-6">Joke Trainer has loads of jokes for you to enjoy. Each joke card shows only the setup on the front so you can test your wit before you see the punchline. Get started by picking a category or making a search.</p>
  <br />
  <h2 class="is-size-4 has-text-centered"><a class="about-subheader" href="{% url 'jt:favorites' %}">Save Your Favorite Jokes</a></h2>
  <br />
  <p class="is-size-6">If there's a joke you find hilarious and want to remember for later, you can add it to your own collection of favorite jokes.</p>
  <br />
  <h2 class="is-size-4 has-text-centered"><a class="about-subheader" href="{% url 'jt:favorites_trainer' %}">Build Your Repertoire</a></h2>
  <br />
  <p class="is-size-6">The <strong>Joke Trainer</strong> page gives you the same jokes, but with only a hint on the front and the joke on the back. You can use these flashcards to help memorize the jokes and become a full blown entertainer.</p>
  <br />
  <h2 class="is-size-4 has-text-centered"><a class="about-subheader" href="{% url 'jt:add_joke' %}">Add Your Own Jokes</a></h2>
  <br />
  <p class="is-size-6">If you've got some real zingers you'd love to work into your act, you can add them to your collection. They'll appear with the rest of the library anytime you're signed in to your account.</p>
  <br />
</div>

{% endblock %}