{% extends 'index.html' %}

{%block indexcenter%}

<div class="about-div-main">
  <div class="center-header-container">
    <h1 class="has-text-centered has-text-weight-semibold main-header">Train Your Brain</h1>
  </div>
  <div class="about-text-container">
    <h2 class="has-text-centered main-text">The Trainer page is where we go from funny to functional. You'll see all your favorite jokes, but this time with <strong>only a hint on the front and the whole joke on the back</strong>. You can use these flashcards to help you <strong>memorize the jokes</strong> and become a full blown entertainer!</h2>
  </div>
</div>

<div class="trainer-favorites-button-container">
  <a href="{% url 'jt:favorites_trainer' %}"><button class="button is-dark is-large" id="go-to-trainer-button">Go to Trainer</button></a>
</div>
  
{% endblock %}