{% extends 'index.html' %}

{%block indexcenter%}

<div class="about-div-main">
  <div class="center-header-container">
    <h1 class="is-size-3 has-text-centered has-text-weight-semibold">Add Your Own Jokes</h1>
  </div>
  <h2 class="is-size-4 has-text-centered">If you've got some real zingers that you'd love to work into your act, you can <strong>add them to your collection</strong>. They'll appear with the rest of the library anytime you're signed into your account!</h2>
</div>

<div class="trainer-favorites-button-container">
  <a href="{% url 'jt:add_joke' %}"><button class="button is-dark is-large" id="go-to-trainer-button">Add a Joke</button></a>
</div>
  
{% endblock %}