{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Joke Trainer">
    <meta property="og:description" content="A curated library of jokes to enjoy, customize and learn.">
    <meta property="og:image" content="https://github.com/robbyhecht/joke-trainer/raw/master/jt/static/jt/images/joketrainer_home.jpg">
    <meta property="og:url" content="https://www.joketrainer.com">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'jt/images/joke_trainer_elephant_tiny.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'jt/images/joke_trainer_elephant_tiny.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jt/index.css' %}">
    <link rel="stylesheet" href="{% static 'jt/node_modules/bulma/css/bulma.css' %}">
    <script src="{% static 'jt/js/main.js' %}"></script>
    <title>Joke Trainer</title>
  </head>
  <body>

    {% include 'navbar.html'  %}

    {% block content %}
    {% endblock %}

    {% block javascript %}{%endblock%}    
  </body>
</html>