{% extends 'index.html' %}
{% load static %}

{%block indexleft%}
  <div>
    <div class="left-column-header">
      <h4 class="is-size-5 has-text-centered">Become a master joke teller!</h4>
    </div>
    <div class="sidebar-image-container has-text-centered">
      <img src="{% static 'jt/images/brain.png' %}" alt="use your brain" class="brain-image">
    </div>
    <!-- <div class="left-col-text" id="left-trainer-text">
      <p class="is-size-6 has-text-centered">Use the Joke Trainer cues to commit your favorite jokes to memory</p>
    </div> -->
  </div>
{%endblock%}

{%block indexcenter%}
  <div class="allcards-container">
    <div class="category-header-container center-header-container">
      <h1 class="category-header is-size-3 has-text-weight-semibold">Joke Trainer</h1>
    </div>
    <div class="explanation-container">
      <h3 class="is-size-4 has-text-centered">The cards below have your favorite jokes hidden on the back with only a hint to jog your memory. How many can you remember?</h3>
    </div>
    {% for joke in joke_list %}
      <div class="singlecard-container">
        <div
          class="flip3D"
          id="cardtarget-{{joke.id}}">
          <div class="back">
            <div class="backHeader">
              <h3 class="card-text card-question">Q: {{ joke.question }}</h3>
              <br />
              <h3 class="card-text card-answer">A: {{ joke.answer }} </h3>
            </div>
          </div>
          <div class="front">
            <h3 class="card-text" id="hint-text">Hint: <br /><strong>{{ joke.hint }}</strong></h3>
          </div>
        </div>
        <div class="card-buttons-container">
          <div class="flip-button-container">
            <a class="button is-success" onclick="flipTheCard('cardtarget-{{joke.id}}')">flip card</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{%endblock%}