{% extends 'index.html' %}
{% load static %}

{%block indexleft%}
  <div>
    <div class="joke-trainer-left-header">
      <h4 class="is-size-5 has-text-centered">Become a master joke teller!</h4>
    </div>
    <div class="trainer-image-container has-text-centered">
      <img src="{% static 'jt/images/brain.png' %}" alt="use your brain" width="125px">
    </div>
    <div class="joke-trainer-left-text">
      <p class="is-size-6 has-text-centered">Use the Joke Trainer cues to commit your favorite jokes to memory</p>
    </div>
  </div>
{%endblock%}

{%block indexcenter%}
  <div class="allcards-container">
    <div class="category-header-container">
      <h1 class="category-header">Joke Trainer</h1>
    </div>
    {% for joke in joke_list %}
      <div class="singlecard-container">
        <div
          class="flip3D"
          id="cardtarget-{{joke.id}}">
          <div class="back">
            <div class="backHeader">
              <h3 class="card-text card-question">Q: {{ joke.question }}</h3>
              <h3 class="card-text card-answer">A: {{ joke.answer }} </h3>
            </div>
          </div>
          <div class="front">
            <h3 class="card-text">{{ joke.hint }}</h3>
          </div>
        </div>
        <div class="flip-button-container">
          <a class="button is-success" onclick="flipTheCard('cardtarget-{{joke.id}}')">flip card</a>
        </div>
      </div>
    {% endfor %}
  </div>
{%endblock%}