{% extends 'index.html' %}
{% load static %}

{% block indexleft %}
  <div>
    <div class="left-column-header" id="favorites-left-header">
      <h4 class="is-size-5 has-text-centered">A toast to the jokes you love the most</h4>
    </div>
    <div class="sidebar-image-container has-text-centered">
      <img src="{% static 'jt/images/toaster.png' %}" alt="use your brain" width="125px">
    </div>
  </div>
  <div class="go-to-trainer-button-container">
    <a href="{% url 'jt:favorites_trainer' %}"><button class="button is-dark is-large" id="go-to-trainer-button">Go To Trainer</button></a>
  </div>
{% endblock %}

{%block indexcenter%}
  <div class="allcards-container">
    <div class="category-header-container center-header-container">
      <h1 class="category-header is-size-3 has-text-weight-semibold">My Favorite Jokes</h1>
    </div>
    {% if joke_list is None %}
      <div class="explanation-container">
        <h3 class="is-size-4 has-text-centered">Add some jokes to your Favorites to get started!</h3>
      </div>
    {%else%}
      <div class="explanation-container">
        <h3 class="is-size-4 has-text-centered">Your personal library of the best of the best. Head over to the <strong><a href="{% url 'jt:favorites_trainer' %}" class="is-dark" id="trainer-text-link">Trainer</a></strong> section to work on adding them to your act!</h3>
      </div>
    {% endif %}
    {% for joke in joke_list %}
      <div class="singlecard-container">

        <div
          class="flip3D"
          id="cardtarget-{{joke.id}}">
          <div class="back">
            <div class="backHeader">
              <h3 class="card-text">{{ joke.answer }}</h3>
            </div>
          </div>
          <div class="front">
            <h3 class="card-text">{{ joke.question }}</h3>
          </div>
        </div>

        <div class="card-buttons-container">
          <div class="flip-button-container">
            <a class="button is-success flip-button flip-button-paired" onclick="flipTheCard('cardtarget-{{joke.id}}')">flip card</a>
          </div>
          <div class="favorites-button-container">
            <form action="{% url 'jt:remove_from_favorites' joke.id %}" method="DELETE">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{id}}">
              <button class="button is-danger is-small" id="remove-button">remove</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{%endblock%}