{% extends 'index.html' %}

{%block indexcenter%}
  <div class="allcards-container">
    <div class="category-header-container">
      <h1 class="category-header">My Favorite Jokes</h1>
    </div>
    {% for joke in joke_list %}
      <div class="singlecard-container">

        <div
          class="flip3D"
          id="cardtarget-{{joke.id}}">
          <div class="back">
            <div class="backHeader">
              <h3 class="card-text">{{ joke.answer }}</h3>
              <form action="{% url 'jt:delete_from_favorites' joke.id %}" method="DELETE">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{id}}">
                <button class="button is-danger is-small">remove from favorites</button>
              </form>
            </div>
          </div>
          <div class="front">
            <h3 class="card-text">{{ joke.question }}</h3>
          </div>
        </div>

        <div class="flip-button-container">
          <a class="button is-success" onclick="flipTheCard('cardtarget-{{joke.id}}')">flip card</a>
        </div>

      </div>
    {% endfor %}
  </div>
{%endblock%}


{% comment %}
<form action="{% url 'jt:add_to_favorites' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="joke_id" value="{{joke.id}}">
  <input type="submit" value="add to favorites">
</form>
{% endcomment %}

{% comment %}
<div class="removeButton">
    <a class="button is-danger is-small">remove</a>
  </div>
{% endcomment %}
