{% extends 'index.html' %}

{%block indexcenter%}
  <div class="allcards-container">
    <div class="category-header-container">
      <h1 class="category-header">{{ favorite_jokes.name }}</h1>
    </div>
    {% for joke in joke_detail %}
      <div class="singlecard-container">
        <div
          class="flip3D"
          id="cardtarget-{{joke.id}}">
          <div class="back">
            <div class="backHeader">
              <h3 class="card-text">{{ joke.question }} <br /> {{ joke.answer }} </h3>
            </div>
          </div>
          <div class="front">
            <h3 class="card-text">{{ joke.hint }}</h3>
          </div>
        </div>
        <div class="flip-button-container">
          <a class="button is-success" onclick="flipTheCard('cardtarget-{{joke.id}}')">flip card</a>
        </div>
      </div>
    {% endfor %}
  </div>
{%endblock%}