{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="main-container">
    <div class="columns">

      <div class="column is-one-fifth column1 has-background-light">
        <div class="col-1-div">
          {%block indexleft%}

            <div class="index-left-header">
              <h2 class="is-size-5 has-text-centered left-col-header">WHERE YOU CAN</h2>
              <div class="joke-trainer-left-text">
                <p class="is-size-6 has-text-centered">Cruise the Jokes</p>
                <div class="index-image-container has-text-centered">
                  <img src="{% static 'jt/images/interested_at_computer.png' %}" alt="interested in computer" width="100px" class="sidebar-image">
                </div>
                <p class="is-size-6 has-text-centered">Save your Favorites</p>
                <div class="index-image-container has-text-centered">
                  <img src="{% static 'jt/images/string_around_finger.png' %}" alt="string around finger" width="90px" class="sidebar-image">
                </div>
                <p class="is-size-6 has-text-centered">Build Your Repertoire</p>
                <div class="index-image-container has-text-centered">
                  <img src="{% static 'jt/images/jester_hat.png' %}" alt="jester hat" width="110px" class="sidebar-image">
                </div>
              </div>
            </div>

          {% endblock %}
        </div>
      </div>

      <div class="column is-three-fifths column2">
        <div class="col-2-div">
          {%block indexcenter%}
            <div class="allcards-container">
              <div class="index-header-container">
                <h1 class="index-header is-size-3 has-text-weight-semibold">Welcome to Joke Trainer!</h1>
              </div>
              <div>
                <h3 class="randomHeader is-size-4 has-text-centered">Joke of the Moment</h3>
              </div>
              <div class="singlecard-container">
                <div class="flip3D" id="cardtarget">
                  <div class="back">
                      <div class="backHeader">
                        <h3 class="card-text">{{joke_at_random.answer}}</h3>
                      </div>
                  </div>
                  <div class="front">
                    <h3 class="card-text">{{joke_at_random.question}}</h3>
                  </div>
                </div>
                <div class="card-buttons-container">
                  <div class="flip-button-container">
                    <a class="button is-success flip-button flip-button-solo" onclick="flipTheCard('cardtarget')">flip card</a>
                  </div>
                </div>
              </div>
            </div>
          {%endblock%}
        </div>
      </div>

      <div class="column is-one-fifth column3 has-background-light">
        <div class="col-3-div">
          {% block indexright%}
            <h2 class="categories-header">CATEGORIES</h2>
            <ul class="categories-list">
              {% for category in category_list %}
                <li><a href="http://localhost:8000/category/{{category.id}}" class="category">{{category.name}}</a></li>
              {% endfor %}
            </ul>
          {%endblock%}
        </div>
      </div>

    </div>
  </div>
{% endblock %}