{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="main-container">
    <div class="columns">

      <div class="column is-one-fifth column1 has-background-light">
        <div class="col-1-div">
          {%block indexleft%}

            <div class="left-column-header">
              <div class="joke-trainer-left-text">

                <!-- left column image links to site explanations -->
                <h2 class="categories-header has-text-centered" id="activities-header">ACTIVITIES</h2>
                <div class="index-left-contents">
                  <div class="index-left-activity-container">
                    <div>
                      <p class="has-text-centered left-col-text">Cruise the Jokes</p>
                    </div>
                    <div class="sidebar-image-container has-text-centered">
                      <a href="{% url 'jt:about_cruise' %}"><img src="{% static 'jt/images/interested_at_computer.png' %}" class="sidebar-image" alt="interested in computer"></a>
                    </div>
                  </div>
                  <div class="index-left-activity-container">
                    <div>
                      <p class="has-text-centered left-col-text">Save Your Favorites</p>
                    </div>
                    <div class="sidebar-image-container has-text-centered">
                        <a href="{% url 'jt:about_favorites' %}"><img src="{% static 'jt/images/heart.svg' %}" class="sidebar-image" alt="heart"></a>
                    </div>
                  </div>
                  <div class="index-left-activity-container">
                    <div>
                      <p class="has-text-centered left-col-text" id="repertoir-text">Build Your Repertoire</p>
                    </div>
                    <div class="sidebar-image-container has-text-centered">
                        <a href="{% url 'jt:about_trainer' %}"><img src="{% static 'jt/images/jester_hat.png' %}" class="sidebar-image" alt="jester hat"></a>
                    </div>
                  </div>
                  <div class="index-left-activity-container">
                    <div>
                      <p class="has-text-centered left-col-text">Add Your Own</p>
                    </div>
                    <div class="sidebar-image-container has-text-centered">
                        <a href="{% url 'jt:about_add' %}"><img src="{% static 'jt/images/sewing_machine.png' %}" class="sidebar-image" alt="sewing machine"></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="login-buttons-left-column">
                <!-- include login buttons only on mobile -->
                {% if user.is_authenticated %}
                {% else %}
                  <a class="button is-primary is-small is-hidden-tablet left-auth-button" href="{% url 'jt:register' %}">Sign up</a>
                  <a class="button is-primary log-button is-small is-hidden-tablet left-auth-button" href="{% url 'jt:login' %}">Log in</a>
                {% endif %}

              </div>
            </div>

          {% endblock %}
        </div>
      </div>

      <div class="column is-three-fifths column2">
        <div class="col-2-div">
          {%block indexcenter%}
            <div class="allcards-container">
              <div class="center-header-container">
                <h1 class="main-header has-text-weight-semibold" id="index-header">Welcome to Joke Trainer</h1>
              </div>
              <div class="explanation-container" id="index-explanation-container">
                <h4 class="main-text has-text-centered">A curated library of jokes for you to enjoy, customize and learn. Choose a category or use the search bar to get started!</h4>
              </div>
              <div id="random-joke-header-container">
                <h5 class="has-text-centered" id="random-joke-header"><strong>Joke of the Moment</strong></h5>
              </div>

              <!-- random joke card -->
              <div class="singlecard-container">
                <div class="flip3D" id="cardtarget">
                  <div class="back">
                    <h3 class="card-text">{{joke_at_random.answer}}</h3>
                  </div>
                  <div class="front">
                    <h3 class="card-text">{{joke_at_random.question}}</h3>
                  </div>
                </div>

                <!-- buttons for card flip and adding to favorites -->
                <div class="card-buttons-container">
                  <div class="flip-button-container">
                    {% if joke_at_random.is_favorited_by_user == False %}
                      <a class="button is-success flip-button flip-button-paired" id="flip-button-paired" onclick="flipTheCard('cardtarget')">flip card</a>
                    {% else %}
                      <a class="button is-success flip-button flip-button-solo" onclick="flipTheCard('cardtarget')">flip card</a>
                    {% endif %}
                  </div>
                  {% if joke_at_random.is_favorited_by_user == False %}
                    <div class="favorites-button-container">
                      <form action="{% url 'jt:add_to_favorites' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="joke_id" value="{{joke_at_random.id}}">
                        <button class="button is-info is-small" id="add-button">add to favorites</button>
                      </form>
                    </div>
                  {% endif %}

                </div>
                
              </div>
            </div>
          {%endblock%}
        </div>
      </div>

      <div class="column is-one-fifth column3 has-background-light">
        <div class="col-3-div">
          {% block indexright%}

          <!-- categories list -->
            <h2 class="categories-header">CATEGORIES</h2>

            <!-- the My Jokes category only displays when a user is logged in -->
            {% if user.is_authenticated %}
            <div class="my-jokes-link-container">
              <a href="{% url 'jt:list_my_jokes' %}" class="my-jokes category">My Jokes</a>
            </div>
            {% endif %}

            <!-- standard categories -->
            <ul class="categories-list">
              {% for category in category_list %}
                <li><a href="{% url 'jt:list_by_category' category.id %}" class="category">{{category.name}}</a></li>
              {% endfor %}
            </ul>
          {%endblock%}
        </div>
      </div>

    </div>
  </div>
{% endblock %}