{% extends 'index.html' %}

{%block indexcenter%}
  <div class="allcards-container">
    <div class="category-header-container">
      <h1 class="category-header">{{ joke_category.name }}</h1>
    </div>

    {% for joke in joke_content %}
      <div class="singlecard-container">
        <div
          class="flip3D"
          id="cardtarget-{{joke.id}}">
          <div class="back">
            <div class="backHeader">
              <h3 class="card-text">{{ joke.answer }}</h3>
            </div>

              {% if joke.is_favorited_by_user == False %}
                <div class="addButtonBack">
                  <form action="{% url 'jt:add_to_favorites' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="joke_id" value="{{joke.id}}">
                    <button class="button is-primary is-small">add to favorites</button>
                  </form>
                </div>
              {% endif %}

          </div>
          <div class="front">
            <h3 class="card-text">{{ joke.question }}</h3>
          </div>
        </div>
        <div class="flip-button-container">
          <a class="button is-success" onclick="flipTheCard('cardtarget-{{joke.id}}')">flip card</a>
        </div>
      </div>
    {% endfor %}

  </div>
{%endblock%}






{% comment %}
<input type="submit" value="add to favorites">
{% endcomment %}