{% extends 'index.html' %}

{%block indexcenter%}
  <div class="allcards-container">
    <div class="category-header-container">
      <h1 class="category-header">{{ joke_category.name }}</h1>
    </div>
    {% for joke in joke_content %}
      <div class="singlecard-container">
        <div
          class="flip3D"
          id="cardtarget-{{joke.id}}">
          <div class="back">
            <div class="backHeader">
              <h3 class="card-text">{{ joke.answer }}</h3>
            </div>
            <div class="addButtonBack">
              <a class="button is-danger is-small">add to favorites</a>
            </div>
          </div>
          <div class="front">
            <h3 class="card-text">{{ joke.question }}</h3>
          </div>
        </div>
        <div class="flip-button-container">
          <a class="button is-success" onclick="flipTheCard('cardtarget-{{joke.id}}')">flip card</a>
        </div>
      </div>
    {% endfor %}
  </div>
{%endblock%}

{% comment %}
{%block javascript%}
<script type="text/javascript">
function flipTheCard(card) {
  let flipcard = document.getElementById(card)
  flipcard.classList.toggle('flipit')
}
</script>
{%endblock%}
{% endcomment %}




