{% extends 'base.html'  %}
{% load staticfiles %}

<div class="main-container">
  <div class="columns">
    <div class="column is-one-quarter column1 has-background-light">
      <h2 class="categories-header">CATEGORIES</h2>
      <ul class="categories-list">
        <li><a href="#" class="category">Animals</a></li>
        <li><a href="#" class="category">Knock Knock</a></li>
        <li>
          etc.
        </li>
        
      </ul>
    </div>

    <div class="column is-half column2">

        <div class="flip3D">
          <div class="back">
            <h3 class="card-text">Because they have such big fingers!</h3>
          </div>
          <div class="front">
            <h3 class="card-text">Why do gorillas have such big nostrils?</h3>
          </div>
        </div>

    </div>
    <div class="column is-one-quarter column3">3</div>
  </div>
</div>