{% extends 'index.html' %}

{%block indexcenter%}
  <!-- lists jokes by category -->
  <div class="all-center-div">
    <div class="allcards-container">
      <div class="main-header-container center-header-container">
        <h1 class="main-header is-size-3 has-text-weight-semibold">{{ joke_category.name }}</h1>
      </div>
      <div>
        <!-- joke flashcard and buttons -->
        {% include 'components/joke_content_component.html' %}
      </div>
    </div>
    <div>
      <!-- pagination -->
      {% include 'components/pagination_component.html' %}
    </div>
  </div>
{%endblock%}