{% extends 'index.html' %}
{% load static %}

{%block indexleft%}
{%endblock%}

{%block indexcenter%}
  <!-- login form -->
  <div class="login-container">
    <h3 class="title is-size3 auth-header">Login</h3>
    <form action="{% url 'jt:login' %}" method="POST">
      {% csrf_token %}
      {{ login_form }}
      <input type="hidden" value="{{next}}" name="next"/>
      <div class="auth-button-container has-text-centered">
        <button class="button is-primary login-form-button">Log in</button>
      </div>
    </form>
  </div>
{%endblock%}

{%block indexright%}
{%endblock%}