{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Joke Trainer</title>
        <link rel="stylesheet" type="text/css" href="{% static 'jt/index.css' %}">
        <link rel="stylesheet" href="{% static 'jt/node_modules/bulma/css/bulma.css' %}">
    </head>
    <body>



        <div class="main-login-div">
            <div class="login-header">
                <h1>Login to Joke Trainer</h1>
            </div>

            <form id="login_form" method="post" action="/login?next={{next}}" class="login_form" style="width:350px">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="login_password" name="password" />
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success mt-3" value="submit">submit</button>
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{% url 'website:register' %}"><button type="submit" class="btn btn-primary" value="register a new account">create a new account</button></a>
        </div>



    </body>
</html>