{% extends 'index.html' %}

{%block indexcenter%}
  <!-- the listing for the My Jokes category is its own entity -->
  <div class="all-center-div">
    <div class="allcards-container">
      <div class="center-header-container">
        <h1 class="category-header is-size-3 has-text-weight-semibold">My Jokes</h1>
      </div>
      <div>
        <!-- joke flashcard and buttons -->
        {% include 'components/joke_content_component.html' %}
      </div>
    </div>
    <div>
      <!-- pagination -->
      {% include 'components/pagination_component.html' %}
    </div>
  </div>
{%endblock%}