{% extends 'index.html' %}

{%block indexcenter%}
  <div class="all-center-div">
    <div class="allcards-container">
      <div class="center-header-container">
        <h1 class="category-header is-size-3 has-text-weight-semibold">My Jokes</h1>
      </div>

      <div>
        <!-- joke flashcard and buttons -->
        {% include 'joke_content_component.html' %}
      </div>

    </div>

    <div class="pagination-container">
      <div class="pagination">
        <div class="step-links">
          {% if joke_content.has_previous %}
            <a href="?page=1" class="first">&laquo; First</a>
            <a href="?page={{ joke_content.previous_page_number }}" class="previous">Previous</a>
          {% endif %}

          <span class="current">
            Page {{ joke_content.number }} of {{ joke_content.paginator.num_pages }}
          </span>

          {% if joke_content.has_next %}
            <a href="?page={{ joke_content.next_page_number }}" class="next">Next</a>
            <a href="?page={{ joke_content.paginator.num_pages }}" class="last">Last &raquo;</a>
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>
{%endblock%}