{% extends 'index.html' %}

{%block indexcenter%}
  <div class="all-center-div">
    <div class="allcards-container">
      <div class="center-header-container">
        <h1 class="category-header is-size-3 has-text-weight-semibold">My Jokes</h1>
      </div>

      {% for joke in joke_content %}
        <div class="singlecard-container">
          <div
            class="flip3D"
            id="cardtarget-{{joke.id}}">
            <div class="back">
              <div class="backHeader">
                <h3 class="card-text">{{ joke.answer }}</h3>
              </div>
            </div>
            <div class="front">
              <h3 class="card-text">{{ joke.question }}</h3>
            </div>
          </div>

          <!-- start buttons -->

          <div class="card-buttons-container">
            <div class="triple-button-container">

              <!-- edit joke button -->
              {% if joke.creator_id %}
                <div class="edit-button-container">
                  <form action="{% url 'jt:edit_joke' joke.id %}" method="GET">
                    {% csrf_token %}
                    <input type="hidden" name="joke_for_edit" value="{{joke.id}}">
                    <button class="button is-dark is-small" id="edit-button">EDIT</button>
                  </form>
                </div>
              {% endif %}

              <!-- flip card button -->
              <div class="flip-button-container">
                {% if joke.is_favorited_by_user == False %}
                  <a class="button is-success flip-button flip-button-paired" id="flip-button-paired" onclick="flipTheCard('cardtarget-{{joke.id}}')">flip card</a>
                {% else %}
                  <a class="button is-success flip-button flip-button-solo" onclick="flipTheCard('cardtarget-{{joke.id}}')">flip card</a>
                {% endif %}
              </div>

              <!-- delete joke button -->
              <div class="modal" id="modaltarget-{{joke.id}}">
                <div class="modal-background"></div>
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">
                      Are you sure you want to delete your joke?
                    </p>
                    <button class="delete" aria-label="close"></button>
                  </header>
                  <footer class="modal-card-foot">
                    {% if joke.creator_id %}
                      <div class="delete-button-modal">
                        <form action="{% url 'jt:delete_joke' joke.id %}" method="DELETE">
                          {% csrf_token %}
                          <input type="hidden" name="joke" value="{{joke.id}}">
                          <button class="button is-danger">Delete</button>
                        </form>
                      </div>
                    {% endif %}
                    <button class="button">Cancel</button>
                  </footer>
                </div>
              </div>

              {% if joke.creator_id %}
                <div class="delete-button-container">
                  <button class="button is-danger is-small" id="delete-button"
                  onclick="deletionModal('modaltarget-{{joke.id}}')">
                    Delete
                  </button>
                </div>
              {% endif %}
            </div>

            <!-- add to favorites button -->
            {% if joke.is_favorited_by_user == False %}
              <div class="favorites-button-container">
                <form action="{% url 'jt:add_to_favorites' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="joke_id" value="{{joke.id}}">
                  <button class="button is-info is-small" id="add-button">add to favorites</button>
                </form>
              </div>
            {% endif %}
          </div>
          <!-- end buttons -->
        </div>
      {% endfor %}
    </div>

    <div class="pagination-container">
      <div class="pagination">
        <div class="step-links">
          {% if joke_content.has_previous %}
            <a href="?page=1" class="first">&laquo; First</a>
            <a href="?page={{ joke_content.previous_page_number }}" class="previous">Previous</a>
          {% endif %}

          <span class="current">
            Page {{ joke_content.number }} of {{ joke_content.paginator.num_pages }}
          </span>

          {% if joke_content.has_next %}
            <a href="?page={{ joke_content.next_page_number }}" class="next">Next</a>
            <a href="?page={{ joke_content.paginator.num_pages }}" class="last">Last &raquo;</a>
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>
{%endblock%}







{% comment %}
  <!-- delete joke button -->
  {% if joke.creator_id %}
    <div class="delete-button-container">
      <form action="{% url 'jt:delete_joke' joke.id %}" method="DELETE">
        {% csrf_token %}
        <input type="hidden" name="joke" value="{{joke.id}}">
        <button class="button is-danger is-small" id="delete-button">DELETE</button>
      </form>
    </div>
  {% endif %}
</div>
{% endcomment %}