{% load static %}

<link rel="stylesheet" href="{% static 'jt/index.css' %}">
<link rel="stylesheet" href="{% static 'jt/node_modules/bulma/css/bulma.css' %}">
<script src="{% static 'jt/js/nav.js' %}"></script>


<div class="nav-div">
  <nav class="navbar" id="nav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand navbar-logo-container">
      <a class="brand" href="{% url 'jt:random_joke' %}" id="navbar-logo-link">
        <img src="{% static 'jt/images/joke_trainer_logo.png' %}" alt="Joke Trainer Logo" class="navbar-logo">
      </a>
      <a role="button" class="navbar-burger burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        
        <a class="navbar-item" href="{% url 'jt:favorites' %}">Favorites</a>
        <a class="navbar-item" href="{% url 'jt:favorites_trainer' %}">Trainer</a>
        <a class="navbar-item" href="{% url 'jt:add_joke' %}">Add a Joke</a>
        <form action="{% url 'jt:search' %}" id="searchform" method='POST'>
          {% csrf_token %}
          <div class="navbar-item field has-addons" id="nav-search">
            <div class="control">
              <input class="input searchfield" id="searchbox" name="search_query" type="text" placeholder="Search...">
            </div>
            <div class="control">
              <button class="button is-info search-button">Search</button>
            </div>
          </div>
        </form>

      </div>

      <!-- login/signup and logout buttons toggle depending on current login status -->
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <div class="add-button-nav">
            {% if user.is_authenticated %}
            <a class="button is-light log-button" href="{% url 'jt:logout' %}">Log out</a>
            {% else %}
            <a class="button register-button" href="{% url 'jt:register' %}"><strong>Sign up</strong></a>
            <a class="button is-light log-button" href="{% url 'jt:login' %}">Log in</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>