{% extends 'index.html' %}
{%load static%}

{%block indexleft%}
{%endblock%}

{%block indexcenter%}
  <div class="newjoke-container">
    <h3 class="title is-size3 auth-header">Add a Joke</h3>
    <form action="{% url 'jt:add_joke' %}" method="POST">
      {% csrf_token %}
      {{ newjoke_form }}
      <div class="auth-button-container has-text-centered">
        <button class="button is-primary">Add Your Joke</button>
      </div>
    </form>
  </div>
{%endblock%}

{%block indexright%}
{%endblock%}