{% extends 'index.html' %}
{%load static%}

{%block indexleft%}
{%endblock%}

{%block indexcenter%}
  <div class="registration-container">
    <h3 class="title is-size3 auth-header">Register</h3>
    <form action="{% url 'jt:register' %}" method="POST">
      {% csrf_token %}
      {{ user_form }}
      <div class="auth-button-container has-text-centered">
        <button class="button is-primary">Sign Up</button>
      </div>
    </form>
  </div>
{%endblock%}

{%block indexright%}
{%endblock%}





{% comment %}
{% if registered %}
<strong>Thank you for registering!</strong>
<a href="http://localhost:8000">Return to the homepage.</a><br />
{% else %}
{% endcomment %}